/* algemene styling */
@font-face {
  font-family: "Aniron";
  src: url("../assets/fonts/Aniron-7BaP.ttf") format("truetype");
}
@font-face {
  font-family: "MiddleEarth";
  src: url("../assets/fonts/MiddleEarthPersonalUseRegular-axlP5.ttf")
    format("truetype");
}
@font-face {
  font-family: "Ringbearer";
  src: url("../assets/fonts/RingbearerMedium-51mgZ.ttf") format("truetype");
}

h1 {
  font-family: "Aniron";
  font-size: 1.5rem;
  color: #f0e1a1;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
  text-align: center;
}

body {
  font-family: "MiddleEarth", serif;
  background: url("../assets/images/aigeneratedimage1.webp") no-repeat center
    center fixed;
  background-size: cover;
  color: #e0c078;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  font-size: 18px;
  width: 100vw;
  overflow-x: hidden;
}

header {
  position: relative;
  grid-area: header;
  padding: 20px;
  margin-bottom: 15px;
  background: linear-gradient(to bottom, #d4af37, #a87c4f);
  text-transform: uppercase;
  font-weight: bold;
  width: 100vw;
}

header h1 {
  font-size: 1.5rem;
}

main {
  width: 80%;
  max-width: 900px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 17px;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
}

footer {
  grid-area: footer;
  font-family: "Aniron";
  background-size: cover;
  padding: 10px;
  text-align: center;
  color: black;
  width: 100vw;
  font-size: 1.1em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

a {
  color: darkred;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

.logged-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.return {
  color: black;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  text-decoration: none;
  margin-right: auto;
  margin-left: 15px;
  order: -1;
}

.return:hover {
  text-decoration: none;
}

.return-home {
  color: black;
}

.return-home:hover {
  text-decoration: none;
}

.game-name {
  color: black;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  flex-grow: 1;
  text-align: center;
}

.account-overview {
  position: relative;
  z-index: 1100;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.account-status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: black;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
}

.account-status:hover {
  text-decoration: none;
}

.account-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 10px;
  list-style: none;
  padding: 10px 0;
  width: 200px;
  text-align: center;
  backdrop-filter: blur(22px);
}
.account-menu.show {
  display: block;
}
.account-menu li {
  padding: 10px;
}

.account-menu li a {
  text-decoration: none;
  color: #e0c078;
  font-weight: bold;
  display: block;
  transition: background 0.3s ease-in-out;
}

.account-menu li:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.sub-menu {
  display: none;
  list-style: none;
  padding-left: 20px;
}

.sub-menu li {
  padding: 8px;
}

.sub-menu li a {
  color: white;
}

/* login pagina */
.login-container {
  background: rgba(30, 30, 30, 0.9);
  padding: 40px;
  border-radius: 15px;
  max-width: 90%;
  width: 400px;
  margin: auto;
}

.login-title {
  color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.login-form label {
  font-size: 1.2em;
  margin-top: 10px;
  color: #e0c078;
}

.login-form input {
  background: rgba(50, 50, 50, 0.8);
  border: 2px solid #d4af37;
  color: #e0c078;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  outline: none;
}

button {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px;
  background: linear-gradient(to bottom, #d4af37, #a87c4f);
  color: #000;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.5);
}

button:hover {
  background: #ffcc00;
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
}

.section-title {
  font-size: 2em;
  color: #d4af37;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.3);
  border-bottom: 2px solid #b08d57;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.remember-me {
  padding-top: 20px;
}

.login-register {
  color: black;
}

.login-register:hover {
  text-decoration: none;
}

/* registratie pagina */
.registration-title {
  color: black;
}
.registration-container {
  background: rgba(30, 30, 30, 0.9);
  padding: 40px;
  border-radius: 15px;
  max-width: 90%;
  width: 400px;
  height: 590px;
  margin: auto;
}
.registration-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.registration-form label {
  font-size: 1.2em;
  margin-top: 10px;
  color: #e0c078;
}

.registration-form input {
  background: rgba(50, 50, 50, 0.8);
  border: 2px solid #d4af37;
  color: #e0c078;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  outline: none;
}

.registration-form input:focus {
  border-color: #d4af37;
  box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
}

.required {
  color: brown;
  font-weight: bold;
}

.registration-form button {
  margin-top: 20px;
  padding: 12px;
  background: linear-gradient(to bottom, #d4af37, #a87c4f);
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.5);
}

.registration-form button:hover {
  background: #ffcc00;
  box-shadow: 0px 0px 20px rgba(255, 215, 0, 0.8);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-box {
  text-align: center;
  background: rgba(20, 20, 20, 0.8);
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #b08d57;
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.3);
  width: 220px;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  background: linear-gradient(to bottom, #d4af37, #7a5a35);
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
}

.button:hover {
  background: #ffcc00;
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
}

.button-box p {
  color: #e0c078;
  font-size: 1em;
  margin-top: 10px;
}

/* favorieten en blacklist */
.title-container h2 {
  color: black;
  font-size: 3rem;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-height: 55vh;
  overflow-y: auto;
  padding: 20px;
}

.quote-container::-webkit-scrollbar {
  width: 6px;
}

.quote-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

.quote-container::-webkit-scrollbar-track {
  background: transparent;
}

.quote {
  flex-grow: 1;
  padding: 20px;
}

.quote-container li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: black;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.icons a {
  text-decoration: none;
  font-size: 20px;
}

.icons {
  display: flex;
  font-size: 2rem;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.icons a:hover {
  transform: scale(1.4);
}

.mainblack-fav {
  background-image: url("../assets/images/background.jpg");
  display: flex;
  height: 76vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title-container .download-btn {
  font-size: 24px;
  text-decoration: none;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
}

.title-container .download-btn:hover {
  transform: scale(1.2);
}

.download-btn img {
  width: 24px;
  height: 24px;
}

/* landing pagina projecten */
.titel {
  color: black;
}

.info {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
}

.button-box p {
  font-family: Arial, Helvetica, sans-serif;
}

.info button {
  margin: 0%;
}

.cta {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.pagina {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.container {
  flex: 1;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.kaart {
  background: linear-gradient(to bottom, #d4af37, #a87c4f);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 350px;
}

.kaart:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.media {
  overflow: hidden;
}

.afbeelding {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 15px;
}

.naam {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.intro {
  font-family: Arial, Helvetica, sans-serif;
}
.tekst {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.5;
}

/* quiz selectie pagina */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mainquiz {
  background-image: url("../assets/images/map.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.map-container {
  position: absolute;
  width: 80%;
  margin: 20px auto;
  max-width: 800px;
}

.map-marker {
  position: absolute;
  background-color: rgba(255, 204, 0, 0.8);
  color: #000;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.map-marker:hover {
  transform: translate(-50%, -50%) scale(1.1);
  background-color: rgba(255, 170, 0, 0.9);
}

.rounds {
  top: 70%;
  left: 35%;
}

.sudden-death {
  top: 60%;
  left: 65%;
}

.game-selection {
  color: black;
}

.game-selection:hover {
  text-decoration: none;
}

/* quiz game pagina */
.quiz-container {
  width: 80%;
  max-width: 900px;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.ten-rounds-container {
  background-image: url("../assets/images/aigeneratedimage2.webp");
}

.sudden-death-container {
  background-image: url("../assets/images/aigeneratedimage3.webp");
}

.game-info {
  font-family: "Ringbearer";
  font-size: 1.6rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
}

.ten-rounds-info {
  background-color: rgba(196, 143, 85, 0.8);
}

.sudden-death-info {
  background-color: rgba(137, 75, 51, 0.8);
}

.question-number,
.score {
  font-weight: bold;
}

.total-questions {
  margin-right: 60px;
}

.question-block {
  padding: 20px;
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 8px;
}

.ten-rounds-question-block {
  background-color: rgba(196, 143, 85, 0.8);
}

.sudden-death-question-block {
  background-color: rgba(137, 75, 51, 0.8);
}

.quote-section {
  text-align: center;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 15px;
}

.like-btn,
.dislike-btn {
  padding: 10px 20px;
  margin: 5px;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.like-btn {
  font-size: 1.7rem;
}

.like-btn:hover,
.dislike-btn:hover {
  text-decoration: none;
}

.quote {
  font-style: italic;
  font-size: 20px;
  color: black;
  margin: 20px 0;
}

p em {
  font-family: "arial";
  font-size: 16px;
  color: black;
  font-weight: 800;
}

.selection-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.character-selection,
.movie-selection {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Ringbearer";
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.character-btn,
.movie-btn {
  font-family: "Arial";
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 200px;
  min-width: 150px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-btn {
  font-family: "Ringbearer";
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: darkred;
  box-shadow: none;
}

.character-btn.selected,
.movie-btn.selected {
  background-color: darkred;
  border: 3px solid black;
  box-shadow: none;
}

.game-result {
  display: none;
  text-align: center;
  font-size: 1rem;
  font-family: "Aniron";
  color: #e0c078;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px rgba(255, 215, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.final-score {
  margin-bottom: 2px;
}

.restart-btn {
  padding: 6px 12px;
  font-size: 0.8rem;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart-btn:hover {
  background-color: darkred;
}

/* media queries */
@media (max-width: 480px) {
  .map-container {
    width: 95%;
    margin: 5px auto;
  }

  .map-marker {
    padding: 6px 10px;
    font-size: 12px;
  }

  .rounds {
    top: 25%;
    left: 20%;
  }

  .sudden-death {
    top: 55%;
    left: 70%;
  }

  .game-selection {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .login-container {
    width: 80%;
    max-width: 350px;
    padding: 20px;
  }

  .registration-container {
    width: 80%;
    max-width: 350px;
    padding: 10px;
    height: 600px;
  }
}

@media (max-width: 768px) {
  .map-container {
    width: 95%;
    margin: 10px auto;
  }

  .map-marker {
    padding: 8px 12px;
    font-size: 14px;
  }

  .rounds {
    top: 50%;
    left: 25%;
  }

  .sudden-death {
    top: 70%;
    left: 70%;
  }

  .game-selection {
    font-size: 16px;
  }

  .quiz-container {
    width: 95%;
    padding: 15px;
  }
}
