<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || 'Blacklist' %></title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="/js/logged-in.js"></script>
  </head>
  <body>
    <header class="header-">
      <h1 class="quiz-name">
        <a href="/home" class="return-home">The one</a>
      </h1>
      <aside class="account-overview">
        <a class="account-status" onclick="toggleMenu(event)">☰</a>
        <ul class="account-menu">
          <li><a href="/home">Home</a></li>
          <li>
            <a href="#" onclick="toggleSubMenu('quiz-options')">Quiz</a>
            <ul class="sub-menu quiz-options">
              <li><a href="/ten-rounds">Ten rounds</a></li>
              <li><a href="/sudden-death">Sudden death</a></li>
            </ul>
          </li>
          <li>
            <a href="#" onclick="toggleSubMenu('quotes-options')">Quotes</a>
            <ul class="sub-menu quotes-options">
              <li><a href="/favorites">Favorites</a></li>
              <li><a href="/blacklist">Blacklist</a></li>
            </ul>
          </li>
          <li><a href="/login">Uitloggen</a></li>
        </ul>
      </aside>
    </header>

    <main class="mainblack-fav">
      <section class="title-container">
        <h2><strong>Blacklist</strong></h2>
        <a
          href="/blacklist/download"
          class="download-btn"
          id="download-btn"
          download
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/3502/3502477.png"
            alt="Download"
          />
        </a>
      </section>
      <ul>
        <section class="quote-container">
          <% if (blacklistedQuotes.length === 0) { %>
          <li>Geen geblokkeerde quotes gevonden.</li>
          <% } else { %> <% blacklistedQuotes.forEach(function(quote) { %>
          <li>
            <p>"<%= quote.quote %>"</p>
            <p><strong>Personage:</strong> <%= quote.character %></p>
            <p>
              <strong>Reden:</strong> <%= quote.reason %>
              <a href="#" class="edit-reason">✎</a>
            </p>
            <a href="#" class="delete-quote">🗑</a>
          </li>
          <% }); %> <% } %>
        </section>
      </ul>
    </main>

    <footer class="footer">
      <p>© 2025 MNAB</p>
    </footer>
  </body>
</html>
