<!DOCTYPE html>
<html lang="nl-BE">
  <%- include('partials/head', { title: 'Mijn Highscores', stylesheets:
  ['/css/reset.css', '/css/style.css'], scripts: ['/js/logged-in.js'] }) %>
  <body>
    <%- include('partials/header') %>
    <main class="mainblack-fav">
      <section class="title-container">
        <h2><strong>Highscores</strong></h2>
      </section>

      <section class="highscore-container">
        <section class="highscore-entry">
          Ten Rounds:<br />
          <strong><%= tenRounds %></strong> / 10
        </section>

        <section class="highscore-entry">
          Sudden Death:<br />
          <strong><%= suddenDeath %></strong> / 10
        </section>
      </section>
    </main>

    <footer class="footer">
      <p>© 2025 MNAB</p>
    </footer>
  </body>
</html>
