<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || 'Mijn Highscores' %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/logged-in.js"></script>
  </head>
  <body>
    <header class="header-">
      <h1 class="quiz-name"><a href="/home" class="return-home">The one</a></h1>
      <aside class="account-overview">
        <a class="account-status" onclick="toggleMenu(event)">☰</a>
        <ul class="account-menu">
          <li><a href="/home">Home</a></li>
          <li>
            <a href="#" onclick="toggleSubMenu('quiz-options')">Quiz</a>
            <ul class="sub-menu quiz-options">
              <li><a href="/ten-rounds">Ten rounds</a></li>
              <li><a href="/sudden-death">Sudden death</a></li>
            </ul>
          </li>
          <li>
            <a href="#" onclick="toggleSubMenu('quotes-options')">Quotes</a>
            <ul class="sub-menu quotes-options">
              <li><a href="/favorites">Favorites</a></li>
              <li><a href="/blacklist">Blacklist</a></li>
            </ul>
          </li>
          <li><a href="/highscores">Mijn highscores</a></li>
          <li><a href="/login">Uitloggen</a></li>
        </ul>
      </aside>
    </header>
    <main class="mainblack-fav">
      <section class="title-container">
        <h2><strong>Highscores</strong></h2>
      </section>

      <section class="highscore-container">
        <section class="highscore-entry">
          Ten Rounds:<br />
          <strong><%= tenRounds %></strong> / 10
        </section>

        <section class="highscore-entry">
          Sudden Death:<br />
          <strong><%= suddenDeath %></strong> / 10
        </section>
      </section>
    </main>

    <footer class="footer">
      <p>© 2025 MNAB</p>
    </footer>
  </body>
</html>
