<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || 'Home' %></title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/logged-in.js"></script>
  </head>
  <body>
    <header class="header-">
      <h1 class="quiz-name">
        <a href="/home" class="return-home">The one</a>
      </h1>
      <aside class="account-overview">
        <a class="account-status" onclick="toggleMenu(event)">☰</a>
        <ul class="account-menu">
          <li><a href="/home">Home</a></li>
          <li>
            <a href="#" onclick="toggleSubMenu('quiz-options')">Quiz</a>
            <ul class="sub-menu quiz-options">
              <li><a href="/ten-rounds">Ten rounds</a></li>
              <li><a href="/sudden-death">Sudden death</a></li>
            </ul>
          </li>
          <li>
            <a href="#" onclick="toggleSubMenu('quotes-options')">Quotes</a>
            <ul class="sub-menu quotes-options">
              <li><a href="/favorites">Favorites</a></li>
              <li><a href="/blacklist">Blacklist</a></li>
            </ul>
          </li>
          <li><a href="/login">Uitloggen</a></li>
        </ul>
      </aside>
    </header>

    <main>
      <h1>LOTR GAME</h1>
      <p class="intro">
        Ben jij een echte fan van The Lord of the Rings films? <br />Test je
        kennis met onze Quotes Quiz! <br />
        We geven je een quote uit de films en jij moet raden welk personage deze
        uitspraak deed en in welke film het voorkomt.
      </p>

      <section class="buttons">
        <article class="button-box">
          <button class="button-">
            <a href="/quiz-selection">Quotes quiz</a>
          </button>
          <p>Speel de quiz</p>
        </article>
        <article class="button-box">
          <button class="button-">
            <a href="/favorites">Favorieten</a>
          </button>
          <p>Bekijk en beheer je favoriete quotes</p>
        </article>
        <article class="button-box">
          <button class="button-">
            <a href="/blacklist">Blacklists</a>
          </button>
          <p>Beheer quotes die je niet meer wilt zien in de quiz</p>
        </article>
      </section>

      <p class="cta">
        Klaar om te spelen? <br />
        Klik op "Quotes quiz" en bewijs dat je de ultieme LOTR kenner bent!
      </p>
    </main>

    <footer>
      <p>© 2025 MNAB</p>
    </footer>
  </body>
</html>
