<!DOCTYPE html>
<html lang="nl-BE">
  <%- include('partials/head', { 
        title: title || 'Quiz selectie', 
        stylesheets: ['css/reset.css', 'css/style.css'], 
        scripts: ['/js/logged-in.js'] 
    }) %>
  <body>
    <%- include('partials/header') %>
    <main class="mainquiz">
      <section class="map-marker rounds">
        <a href="/ten-rounds" class="game-selection"
          ><span>Ten Rounds</span>
          <span class="tooltip"
            >Beantwoord tien vragen. Het spel eindigt na de tiende vraag. Elk
            juist antwoord levert één halve punt op. Als je beide antwoorden juist hebt, krijg je één punt.</span
          >
        </a>
      </section>

      <section class="map-marker sudden-death">
        <a href="/sudden-death" class="game-selection"
          ><span>Sudden Death</span>
          <span class="tooltip"
            >Speel door totdat je een fout maakt. Het spel eindigt meteen bij
            een verkeerd antwoord.</span
          >
        </a>
        </section>
      
      </section>
    </main>
    <footer>
      <p>© 2025 MNAB</p>
    </footer>
  </body>
</html>
